<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>September 05, 2017 | #vss365 today</title>

  <link rel="shortcut icon" href="/static/favicon.png">
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bad+Script&family=Josefin+Slab:wght@400;600;700&family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap">
  <meta name="theme-color" content="#82eeee">
  <meta name="title" content="#vss365 today | September 05, 2017">
  <meta name="description" content="See historical #vss365 prompts">
</head>

<body>
  <section class="area-alerts">
    <div class="msg-alert info" role="alert">
      <p>You're viewing an unchanging archive of <em>#vss365 today</em>, created on February 16, 2024.</p>
    </div>
</section>

  <header>
  <div>
    <h1 id="site-title"><a href="/">
      <span id="vss365">#vss365</span><span id="today">today</span></a>
    </h1>

    <h2 id="page-title">September 05, 2017</h2>
  </div>

  <nav class="primary">
  <a class="nav-link " id="btn-today" href="/">Today</a>
  <a class="nav-link " id="btn-browse" href="/browse">Browse</a>
  <a class="nav-link " id="btn-search" href="/search">Search</a>
  <a class="nav-link " id="btn-about" href="/about">About</a>
  <a class="nav-link " id="btn-stats" href="/stats">Stats</a>
</nav>
</header>

  <main id="main">
<section class="page center">
  <nav class="btns-prev-next">
  <a class="previous" href="/view/2017-09-04">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 15l-3-3m0 0l3-3m-3 3h8M3 12a9 9 0 1118 0 9 9 0 01-18 0z" />
    </svg>
    <span>Yesterday</span>
  </a>
  <a class="next" href="/view/2017-09-06">
    <span>Tomorrow</span>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
  </a>
  </nav>

  <h2>#vss365 One Year Anniversary</h2>
  <p>September 05, 2017 is a special day in #vss365 history. It is the one year
    anniversary of the writing prompt!  At the time, to celebrate the
    milestone, prompt originator Mark A. King
    <a rel="noopener noreferrer" href="https://makingfiction.com/2017/07/20/vs365-one-year-on/">announced</a>
    that a picture prompt would be posted every hour for 24 hours on the
    anniversary. Here, you will find those images for continued writing inspiration!
    Interact with any image to view at full size.
  </p>
</section>

<section class="one-year-wrapper">

  <div class="prompt-image">
    <h2>#1</h2>
    <a class="a-img" href="/static/images/1024-4096-one-year-01.jpg">
      <img width="275" alt="https://x.com/FlashDogs/status/904845903151984641" src="/static/images/1024-4096-one-year-01.jpg">
    </a>
  </div>

  <div class="prompt-image">
    <h2>#2</h2>
    <a class="a-img" href="/static/images/1025-4096-one-year-02.jpg">
      <img width="275" alt="https://x.com/FlashDogs/status/904859017440137216" src="/static/images/1025-4096-one-year-02.jpg">
    </a>
  </div>

  <div class="prompt-image">
    <h2>#3</h2>
    <a class="a-img" href="/static/images/1026-4096-one-year-03.jpg">
      <img width="275" alt="https://x.com/FlashDogs/status/904875614691348480" src="/static/images/1026-4096-one-year-03.jpg">
    </a>
  </div>

  <div class="prompt-image">
    <h2>#4</h2>
    <a class="a-img" href="/static/images/1027-4096-one-year-04.jpg">
      <img width="275" alt="https://x.com/FlashDogs/status/904887621050097666" src="/static/images/1027-4096-one-year-04.jpg">
    </a>
  </div>

  <div class="prompt-image">
    <h2>#5</h2>
    <a class="a-img" href="/static/images/1028-4096-one-year-05.jpg">
      <img width="275" alt="https://x.com/FlashDogs/status/904902281392508928" src="/static/images/1028-4096-one-year-05.jpg">
    </a>
  </div>

  <div class="prompt-image">
    <h2>#6</h2>
    <a class="a-img" href="/static/images/1029-4096-one-year-06.jpg">
      <img width="275" alt="https://x.com/FlashDogs/status/904921977550491649" src="/static/images/1029-4096-one-year-06.jpg">
    </a>
  </div>

  <div class="prompt-image">
    <h2>#7</h2>
    <a class="a-img" href="/static/images/1030-4096-one-year-07.jpg">
      <img width="275" alt="https://x.com/FlashDogs/status/904936216252047360" src="/static/images/1030-4096-one-year-07.jpg">
    </a>
  </div>

  <div class="prompt-image">
    <h2>#8</h2>
    <a class="a-img" href="/static/images/1031-4096-one-year-08.jpg">
      <img width="275" alt="https://x.com/FlashDogs/status/904947975574753288" src="/static/images/1031-4096-one-year-08.jpg">
    </a>
  </div>

  <div class="prompt-image">
    <h2>#9</h2>
    <a class="a-img" href="/static/images/1032-4096-one-year-09.jpg">
      <img width="275" alt="https://x.com/FlashDogs/status/904962425874731008" src="/static/images/1032-4096-one-year-09.jpg">
    </a>
  </div>

  <div class="prompt-image">
    <h2>#10</h2>
    <a class="a-img" href="/static/images/1033-4096-one-year-10.jpg">
      <img width="275" alt="https://x.com/FlashDogs/status/904977597230178305" src="/static/images/1033-4096-one-year-10.jpg">
    </a>
  </div>

  <div class="prompt-image">
    <h2>#11</h2>
    <a class="a-img" href="/static/images/1034-4096-one-year-11.jpg">
      <img width="275" alt="https://x.com/FlashDogs/status/905008561775943680" src="/static/images/1034-4096-one-year-11.jpg">
    </a>
  </div>

  <div class="prompt-image">
    <h2>#12</h2>
    <a class="a-img" href="/static/images/1035-4096-one-year-12.jpg">
      <img width="275" alt="https://x.com/FlashDogs/status/905008561775943680" src="/static/images/1035-4096-one-year-12.jpg">
    </a>
  </div>

  <div class="prompt-image">
    <h2>#13</h2>
    <a class="a-img" href="/static/images/1036-4096-one-year-13.jpg">
      <img width="275" alt="https://x.com/FlashDogs/status/905025269320343553" src="/static/images/1036-4096-one-year-13.jpg">
    </a>
  </div>

  <div class="prompt-image">
    <h2>#14</h2>
    <a class="a-img" href="/static/images/1037-4096-one-year-14.jpg">
      <img width="275" alt="https://x.com/FlashDogs/status/905038056041873408" src="/static/images/1037-4096-one-year-14.jpg">
    </a>
  </div>

  <div class="prompt-image">
    <h2>#15</h2>
    <a class="a-img" href="/static/images/1038-4096-one-year-15.jpg">
      <img width="275" alt="https://x.com/FlashDogs/status/905053527717892096" src="/static/images/1038-4096-one-year-15.jpg">
    </a>
  </div>

  <div class="prompt-image">
    <h2>#16</h2>
    <a class="a-img" href="/static/images/1039-4096-one-year-16.jpg">
      <img width="275" alt="https://x.com/FlashDogs/status/905068825330241536" src="/static/images/1039-4096-one-year-16.jpg">
    </a>
  </div>

  <div class="prompt-image">
    <h2>#17</h2>
    <a class="a-img" href="/static/images/1040-4096-one-year-17.jpg">
      <img width="275" alt="https://x.com/FlashDogs/status/905083147490086912" src="/static/images/1040-4096-one-year-17.jpg">
    </a>
  </div>

  <div class="prompt-image">
    <h2>#18</h2>
    <a class="a-img" href="/static/images/1041-4096-one-year-18.jpg">
      <img width="275" alt="https://x.com/FlashDogs/status/905099149263167488" src="/static/images/1041-4096-one-year-18.jpg">
    </a>
  </div>

  <div class="prompt-image">
    <h2>#19</h2>
    <a class="a-img" href="/static/images/1042-4096-one-year-19.jpg">
      <img width="275" alt="https://x.com/FlashDogs/status/905118874881929216" src="/static/images/1042-4096-one-year-19.jpg">
    </a>
  </div>

  <div class="prompt-image">
    <h2>#20</h2>
    <a class="a-img" href="/static/images/1043-4096-one-year-20.jpg">
      <img width="275" alt="https://x.com/FlashDogs/status/905129473498107906" src="/static/images/1043-4096-one-year-20.jpg">
    </a>
  </div>

  <div class="prompt-image">
    <h2>#21</h2>
    <a class="a-img" href="/static/images/1044-4096-one-year-21.jpg">
      <img width="275" alt="https://x.com/FlashDogs/status/905155776611799041" src="/static/images/1044-4096-one-year-21.jpg">
    </a>
  </div>

  <div class="prompt-image">
    <h2>#22</h2>
    <a class="a-img" href="/static/images/1045-4096-one-year-22.jpg">
      <img width="275" alt="https://x.com/FlashDogs/status/905159105899372545" src="/static/images/1045-4096-one-year-22.jpg">
    </a>
  </div>

  <div class="prompt-image">
    <h2>#23</h2>
    <a class="a-img" href="/static/images/1046-4096-one-year-23.jpg">
      <img width="275" alt="https://x.com/FlashDogs/status/905173946655531008" src="/static/images/1046-4096-one-year-23.jpg">
    </a>
  </div>

  <div class="prompt-image">
    <h2>#24</h2>
    <a class="a-img" href="/static/images/1047-4096-one-year-24.jpg">
      <img width="275" alt="https://x.com/FlashDogs/status/905188903900106752" src="/static/images/1047-4096-one-year-24.jpg">
    </a>
  </div>

</section>

  </main>

  <footer>
  <div>2019 - 2024 Caleb</div>
</footer>

  <script type="module" src="/static/js/script.js"></script>
  <script type="module" src="/static/js/alerts.js"></script>
</body>
</html>
